body>header {
    display: flex;
    padding-block: 40px;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

@media (width <= 1280px) {
    body>header {
        padding-block: 16px 48px;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }
}